@model Deck

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Card Slider</title>
    <title>Text to Speech Converter</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/langdetect/1.0.8/langdetect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">

    <!--CSS-->
    <link href="~/css/carouselstyle.css" rel="stylesheet" />

</head>
<body>

    <div id="@("flashcardCarousel" + Model.DeckId)" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" align="center">
            @{
                @if (Model.Flashcards == null || !Model.Flashcards.Any())
                {
                    <h5 class="card-title">It looks like this deck is empty. Go ahead and create some cards :).</h5>
                }
                else
                {
                    foreach (var flashcard in Model.Flashcards)
                    {
                        <section class="p-5">

                            <div class="card mb-3" align="center">
                                <div class="card">
                                    <h5 class="card-title">FlashcardId: @flashcard.FlashcardId</h5>

                                    <div id="flashcardCarousel_@(flashcard.FlashcardId)" class="carousel">
                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#flashcardCarousel_@(flashcard.FlashcardId)" data-bs-slide-to="0"
                                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                            <button type="button" data-bs-target="#flashcardCarousel_@(flashcard.FlashcardId)" data-bs-slide-to="1"
                                                    aria-label="Slide 2"></button>
                                            <button type="button" data-bs-target="#flashcardCarousel_@(flashcard.FlashcardId)" data-bs-slide-to="2"
                                                    aria-label="Slide 3"></button>
                                        </div>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active a-obj">
                                                <div class="card b-obj">
                                                    <div class="card-body-f">
                                                        <h6 class="card-subtitle mb-2 text-muted">Question: @flashcard.Question</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item a-obj">
                                                <div class="card b-obj">
                                                    <div class="card-body-f">
                                                        <h6 class="card-subtitle mb-2 text-muted">Answer: @flashcard.Answer</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item a-obj">
                                                <div class="card b-obj">
                                                    <div class="card-body-f">
                                                        <h6 class="card-subtitle mb-2 text-muted">Notes: @flashcard.Notes</h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#flashcardCarousel_@(flashcard.FlashcardId)"
                                                data-bs-slide="prev">
                                            <span class="bi bi-chevron-left"></span> Previous
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#flashcardCarousel_@(flashcard.FlashcardId)"
                                                data-bs-slide="next">
                                            Next <span class="bi bi-chevron-right"></span>
                                        </button>
                                    </div>

                                    <a class="btn btn-secondary" asp-controller="Flashcard" asp-action="Details" asp-route-id="@flashcard.FlashcardId">Inspect card</a>


                                </div>
                            </div>
                        </section>

                    }
                }
            }
        </div>
    </div>
    <br>
    <br>
    <a class="btn btn-primary" asp-controller="Deck" asp-action="Browse">Back to deck browsing.</a>
    <form asp-controller="Flashcard" asp-action="CreateFlashcard" method="get">
        <input type="hidden" name="deckId" value="@Model.DeckId" />
        <button type="submit" class="btn btn-primary">Create Flashcard</button>
    </form>
    <script src="~/js/site.js" defer></script>
</body>
</html>-
