@model FlashcardListViewModel


<div class="carousel-inner" align="center">
    @{
        var first = true;
        if (Model.Flashcards == null){} //Check for flashcardlist being null to avoid warning
        else
        {
            foreach (var flashcard in Model.Flashcards)
            {
                <div class="@(first == true ? "carousel-item active" : "carousel-item")"> <!-- TThe first class needs to be active for this to work.  -->
                    @{
                        first = false;
                    }
                    <div class="card">
                        <div class="card-body align-content-center">
                            <h5 class="card-title">FlashcardId:@flashcard.FlashcardId</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Question:@flashcard.Question</p>
                            <p class="card-text">Answer:@flashcard.Answer</p>
                            <p class="card-text">Notes:@flashcard.Notes</p>
                            <a asp-action="Update" asp-route-id="@flashcard.FlashcardId" class="card-link">Update</a>
                            <a a asp-action="Delete" asp-route-id="@flashcard.FlashcardId" class="card-link">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<a class="carousel-control-prev" href="@("#flashcardCarousel" + Model.DeckId)" role="button" data-bs-slide="prev" style="color:black">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only" style="font-size: 2vw">&lsaquo;</span>
</a>
<a class="carousel-control-next" href="@("#flashcardCarousel" + Model.DeckId)" role="button" data-bs-slide="next" style="color:black">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only" style=" font-size: 2vw">&rsaquo;</span>
</a>

